.content {
  display: flex;

  &__view {
    font-size: .9rem;
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-link {
      font-weight: 200;

      &:hover {
        text-decoration: underline;

      }
    }
  }
}
