.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('/images/waterfall.jpg') no-repeat center;
  height: 30rem;
  background-size: cover;



  &__welcome {
    background: $c-secondary;
    opacity: .7;
    padding: 4rem 4.5rem;
    font-weight: lighter;

  &-headline {
    font-weight: 300;
    z-index: 2;
  }

  &-subtitle {
    font-weight: 800;
    z-index: 2;
  }
  }
}
